h1 {
  color: black;
  font-style: normal;
  font-weight: 100;
  line-height: 0em;
  font-family: Roboto, arial, sans-serif;
  font-size: 40px;
}

p {
  color: black;
  font-style:normal;
  font-weight: 40;
  font-family: Roboto, arial, sans-serif;
}

#instructions {
  height: 1600px;
  width: 70%;
  background-color: #d3d3d3;
  align: middle;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 20px;
}

.instructions {
  font-size: 20px;
  font-family: Roboto, arial, sans-serif;
  line-height: 1.5;
}

.instructionstitle {
  font-size: 25px;
  font-family: Roboto, arial, sans-serif;
  font-weight: bold;
}

.instructionshead {
  font-size: 30px;
  font-family: Roboto, arial, sans-serif;
  font-weight: bold;
}